.review-item {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid goldenrod;
    border-radius: 8px;
    padding: 8px;
    margin-top: 20px;
}

.review-item img {
    margin-right: 15px;
    width: 90px;
}

.review-item-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.review-item-info p {
    margin: 0;
}

.delete-button {
    width: 55px;
    height: 55px;
    background-color: rgb(187, 163, 25);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.delete-icon {
    font-size: 27px;
    color: white;
}

.delete-container {
    display: flex;
    justify-content: center;
    align-items: center;
}