.details-container {
    margin-top: 0px;
}

.order-container {
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-gap: 30px;
    padding: 0% 8% 0% 8%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.cart-container {
    padding-top: 10px;
}