.header {
    background-color: #1C2B35;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 0% 5% 0% 5%;
}

.header a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    margin-left: 36px;
    padding: 9px;
}

.header a:hover {
    border: 1px dotted white;
    border-radius: 3px;
    padding: 8px;
}


@media (max-width: 768px) {
    .header {
        justify-content: center;
    }

    .nav-links {
        display: none;
    }
}