.form-container {
    height: calc(100vh - 100%);
    display: flex;
    justify-content: center;
}

.input-container {
    border: 1px solid goldenrod;
    width: 500px;
    height: auto;
    border-radius: 5px;
    margin: 40px 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.form-title {
    font-size: 35px;
    color: #2a414f;
    font-weight: 400;
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}

.input-group input {
    width: 415px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid goldenrod;
    box-sizing: border-box;
    font-size: 17px;
}

.form-submit {
    width: 100%;
    height: 50px;
    background-color: goldenrod;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.form-submit:hover {
    background-color: rgb(165, 141, 7);
}

.form-link {
    text-decoration: none;
    color: tomato;
}